body {
  font-family: 'Droid Serif', serif;
}

.page {
  width: 100%;
  min-height: 600px;
  padding: 40px;
  margin-bottom: 200px;
}

.page h2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.party_01, .party_02 {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  vertical-align: top;
}

.times {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

.partiers {
  width: 300px;
  display: inline-block;
  margin: 0px 40px;
  vertical-align: top;
}

.partyTime, .partier {
  margin: 10px;
}

.partyTime {
  display: block;
  width: 100%;
}

.partier {
  display: inline-block;
  font-size: .9em;
}

.comparison td, .partyExample td {
  padding: 10px 20px;
  width: 50%;
}

.codeSample td {
  width: 33%;
}

.d3examples, .reusableExamples, .reusableExamplesLarge {
  height: 250px;
  margin-top: 10px;
}

.reusableExamplesLarge {
  height: 350px;
}

.party_results {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 10px;
  width: 650px;
}

.footer {
  position: fixed;
  right: -5px;
  top: 0;
  background-color: #fff;
  padding: 5px;
  align-content: center;
  text-align: center;
}

svg {
  height: 300px;
  width: 500px;
}

input.form-control {
  width: 300px;
  display: inline-block;
}

select.form-control {
  width: 100px;
  display: inline-block;
}

pre {
  background-color: transparent;
  border: none;
}

td.fetch, td.render, td.update {
  border-left-width: 10px;
  border-left-style: solid;
}

td.fetch {
  border-left-color: #428bca;
  background-color: rgba(66,139,202,.05);
}

td.render {
  border-left-color: #5cb85c;
  background-color: rgba(92,184,92,.05);
}

td.update {
  border-left-color: #5bc0de;
  background-color: rgba(91,192,222,.05);
}

td.sectionNotes {
  font-size: 18px;
  padding: 20px;
  vertical-align: top;
  max-width: 600px;
}

th {
  text-align: center;
}

/* overwrite prism bg color*/
:not(pre) > code[class*="language-"], pre[class*="language-"] {
background: none;
}